.thanks-container{
    text-align: center;
}

.thanks-container h2{
    margin-bottom: 0.05rem;
    font-size: 1.2rem
}

.thanks-container p{
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

.thanks-container h3{
    margin: 0.5rem 0;
    font-size: 1rem
}

.review-data{
    text-align: left;
}

.review-data svg{
    margin-left: 5px;
}

.review-data span{
    font-weight: bold;
}